<!DOCTYPE html>
<html lang="en">

<head>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#AB47BC">
    <meta name="apple-mobile-web-app-status-bar-style" content="#AB47BC">

    <title>Chicken Soup for your Soul</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/wow.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    </div>
</head>
    
<body id="page-top">
    
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top fadein">
        <div class="navbar-inner">
                <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-content" >
                            <i class="fa fa-bars fa-1x" aria-hidden="true"></i>
                        </button>
                </div>

                <div class="collapse navbar-collapse" id="nav-content">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="page-scroll" href="#home">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">About Me</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#portfolio">Things I Do</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
        </div>
    </nav>

    <section class="panels container-fluid" id="home">
        <div class="jumbotron jumbotron-fluid wow fadeIn vertical-center"><div class = "container">
            <h2 class="section-heading">Hello! I'm Carol Chen.</h2>
            <hr class="light">
                    <div id="1" class="quote"><p>
                        <b>"I know of no time in human history where ignorance was better than knowledge."</b></br>-<i>Neil Degrasse Tyson</i>
                    </p></div>

        <a href="#about"><i class="fa fa-2x fa-chevron-down animated infinite tada" aria-hidden="true"></i></a>
            </div></div>
    </section>
        
</body>

<footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
        wow = new WOW(
                {
                    animateClass: 'animated',
                    offset:       75
                }
        );
        wow.init();
    </script>

</footer>

</html>